<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712681179527-6sri00f7eoma37o3i3gjblt1e86b4ms8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712681179527-6sri00f7eoma37o3i3gjblt1e86b4ms8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>712681179527-rt282htjkl7u03o0mi447au6v4k0s9oc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB1_zNN5iJiJ2NwgPfX-Cxz0titGirtqyk</string>
	<key>GCM_SENDER_ID</key>
	<string>712681179527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.app.care</string>
	<key>PROJECT_ID</key>
	<string>lawconsultation-27354</string>
	<key>STORAGE_BUCKET</key>
	<string>lawconsultation-27354.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712681179527:ios:daa20eaf1e28d4ac</string>
	<key>DATABASE_URL</key>
	<string>https://lawconsultation-27354.firebaseio.com</string>
</dict>
</plist>